# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment and local configuration
.env
.venv
venv/
env/
ENV/
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# VSCode
.vscode/

# macOS specific
.DS_Store

# Old/backup files
old/
*.bak